import banner as banner
from pystyle import Colors, Colorate, Center, Anime

print(Colorate.Vertical(Colors.red_to_yellow, """
     ...     ...           ..      .                  ..                            ...         
  .=*8888n.."%888:      x88f` `..x88. .>    .H88x.  :~)88:   x8h.     x8.       .x888888hx    : 
 X    ?8888f '8888    :8888   xf`*8888%    x888888X ~:8888 :88888> .x8888x.    d88888888888hxx  
 88x. '8888X  8888>  :8888f .888  `"`     ~   "8888X  %88"  `8888   `8888f    8" ... `"*8888%`  
'8888k 8888X  '"*8h. 88888' X8888. >"8x        X8888         8888    8888'   !  "   ` .xnxx.    
 "8888 X888X .xH8    88888  ?88888< 888>    .xxX8888xxxd>    8888    8888    X X   .H8888888%:  
   `8" X888!:888X    88888   "88888 "8%    :88888888888"     8888    8888    X 'hn8888888*"   > 
  =~`  X888 X888X    88888 '  `8888>       ~   '8888         8888    8888    X: `*88888%`     ! 
   :h. X8*` !888X    `8888> %  X88!       xx.  X8888:    .   8888    8888    '8h.. ``     ..x8> 
  X888xX"   '8888..:  `888X  `~""`   :   X888  X88888x.x"  -n88888x>"88888x-  `88888888888888f  
:~`888f     '*888*"     "88k.      .~    X88% : '%8888"      `%888"  4888!`    '%8888888888*"   
    ""        `"`         `""*==~~`       "*=~    `""          `"      ""         ^"****""`     
                                                                                                
                                                                                                
                                                                                                
""", 1))
from pystyle import Write, Colors

name = Write.Input("Enter your username here -> ", Colors.red_to_purple, interval=.0525)
Write.Print(f"TEST YOUR BRUTE FORCE   "
           
            f", {name}!", Colors.blue_to_green, interval=.0550)

MDP="python3405"
user_input = input("entrez le mot de passe :")
if MDP == user_input:
    print("entrée valide")
else:
    print ("entrée invalide, ré-essayez")
